.song-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}

.song-item {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0.6rem;
  border-radius: 0.4rem;
  /* justify-content: space-between; */
}

.song-item:hover {
  /* background-image: linear-gradient(
    to right,
    rgba(var(--color), 0.4),
    rgba(var(--color), 0.6)
  ); */
  cursor: pointer;
  background: linear-gradient(hsl(253, 68%, 15%), hsl(252, 12%, 57%));
}

.thumbnail {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}

.song-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-details h3 {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.song-details p {
  margin: 0;
  font-size: 11px;
  font-weight: 100;
}

.song-length {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  font-size: 14px;
  font-weight: 200;
}
