.song-list {
  color: var(--color-stone-100);
  padding: 1rem;
  width: 30%;
}

.tab-list {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-left: 0.6rem;
}

.tab {
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
