.player {
  padding: 4rem;
  color: var(--color-stone-100);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.player-data h2 {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
}

.player-data p {
  margin: 0;
  font-size: 12px;
  font-weight: 100;
}

.player-cover {
  height: 300px;
  width: 350px;
  border-radius: 0.5rem;
}
